<div class="modal-header">
  <h4 class="modal-title pull-left">LOAN DETAILS</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="loanDetailsModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul class="loan-details text-center">
    <li><span>Total Amount: </span>{{ this.calculatedLoan.overallAmount | currency:'GBP' }}</li>
    <li><span>Monthly: </span>{{ this.calculatedLoan.monthlyInstallment | currency:'GBP' }}</li>
    <li><span>Interest: </span>{{ this.calculatedLoan.interest }} %</li>
    <li><span>Penalty interest: </span>{{ this.calculatedLoan.penaltyInterest }} %</li>
    <li><span>Next Due Date: </span>{{ this.calculatedLoan.nextDueDate }}</li>
    <li><span>Left to pay: </span>{{ this.calculatedLoan.leftAmount | currency:'GBP' }}</li>
    <li><span>Overdue days: </span>{{ this.calculatedLoan.overdueDays}}</li>
    <li><span>Penalty amount: </span>{{ this.calculatedLoan.penaltyAmount | currency:'GBP' }}</li>
    <li><span>Investor: </span>{{ this.calculatedLoan.investorUsername }}</li>
  </ul>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="loanDetailsModal.hide()">Close</button>
</div>
