.loan-details {
  list-style: none;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0;
}

.loan-details li {
  background-color: #ffda91;
  border-radius: 0.5rem;
}

.loan-details span {
  font-weight: 700;
}
