body *:focus {
  outline: none;
}

.offset-xs-right-12 {
  margin-right: 100%;
}

.offset-xs-right-11 {
  margin-right: 91.66666667%;
}

.offset-xs-right-10 {
  margin-right: 83.33333333%;
}

.offset-xs-right-9 {
  margin-right: 75%;
}

.offset-xs-right-8 {
  margin-right: 66.66666667%;
}

.offset-xs-right-7 {
  margin-right: 58.33333333%;
}

.offset-xs-right-6 {
  margin-right: 50%;
}

.offset-xs-right-5 {
  margin-right: 41.66666667%;
}

.offset-xs-right-4 {
  margin-right: 33.33333333%;
}

.offset-xs-right-3 {
  margin-right: 25%;
}

.offset-xs-right-2 {
  margin-right: 16.66666667%;
}

.offset-xs-right-1 {
  margin-right: 8.33333333%;
}

.offset-xs-right-0 {
  margin-right: 0;
}

.border-radius-5 {
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }

  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }

  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }

  .col-sm-offset-right-9 {
    margin-right: 75%;
  }

  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }

  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }

  .col-sm-offset-right-6 {
    margin-right: 50%;
  }

  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }

  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }

  .col-sm-offset-right-3 {
    margin-right: 25%;
  }

  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }

  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }

  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .offset-md-right-12 {
    margin-right: 100%;
  }

  .offset-md-right-11 {
    margin-right: 91.66666667%;
  }

  .offset-md-right-10 {
    margin-right: 83.33333333%;
  }

  .offset-md-right-9 {
    margin-right: 75%;
  }

  .offset-md-right-8 {
    margin-right: 66.66666667%;
  }

  .offset-md-right-7 {
    margin-right: 58.33333333%;
  }

  .offset-md-right-6 {
    margin-right: 50%;
  }

  .offset-md-right-5 {
    margin-right: 41.66666667%;
  }

  .offset-md-right-4 {
    margin-right: 33.33333333%;
  }

  .offset-md-right-3 {
    margin-right: 25%;
  }

  .offset-md-right-2 {
    margin-right: 16.66666667%;
  }

  .offset-md-right-1 {
    margin-right: 8.33333333%;
  }

  .offset-md-right-0 {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .offset-lg-right-12 {
    margin-right: 100%;
  }

  .offset-lg-right-11 {
    margin-right: 91.66666667%;
  }

  .offset-lg-right-10 {
    margin-right: 83.33333333%;
  }

  .offset-lg-right-9 {
    margin-right: 75%;
  }

  .offset-lg-right-8 {
    margin-right: 66.66666667%;
  }

  .offset-lg-right-7 {
    margin-right: 58.33333333%;
  }

  .offset-lg-right-6 {
    margin-right: 50%;
  }

  .offset-lg-right-5 {
    margin-right: 41.66666667%;
  }

  .offset-lg-right-4 {
    margin-right: 33.33333333%;
  }

  .offset-lg-right-3 {
    margin-right: 25%;
  }

  .offset-lg-right-2 {
    margin-right: 16.66666667%;
  }

  .offset-lg-right-1 {
    margin-right: 8.33333333%;
  }

  .offset-lg-right-0 {
    margin-right: 0;
  }
}
