.register-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.register-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  min-width: 500px;
}

.register-form-1 h3 {
  text-align: center;
  color: #333;
}

::ng-deep ngb-pagination .nav-tabs,
.nav-item.show,
.nav-link,
.nav-tabs,
.nav-link.active {
  background-color: red !important;
}

::ng-deep ngb-pagination .nav-tabs,
.nav-link.active,
.nav-tabs,
.nav-item.show,
.nav-link {
  background-color: red !important;
}

.register-container form {
  width: 100%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.register-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #5c1919;
}

.register-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.ngTab {
  text-decoration-color: black;
}

ngb-pagination ::ng-deep .nav-link.active {
  background-color: red !important;
}

li.nav-item {
  background-color: transparent;
}

::ng-deep .nav-tabs {
  margin-bottom: 10px;
  border: none;
  justify-content: center !important;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 100%;
  margin: 20px auto;
}

.centered {
  margin: 0 auto;
}

.customTab {
  text-align: center;
  height: 400px;
  padding: 20px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.validation-messages {
  font-size: 80%;
  align-self: flex-end;
  color: white;
  text-decoration-style: solid;
}

.log-form {
  padding: 2rem;
  background-color: hsla(162, 59%, 28%, 0.5);
  border-radius: 0.5rem;
}

.log-form div input {
  border-radius: 0.5rem;
  background-color: #eafff2;
}

.btn-log:disabled {
  color: white;
  border: 0.1em solid white;
  border-radius: 0.5rem;
}

.btn-log:not(:disabled) {
  color: hsla(162, 59%, 28%);
  background-color: white;
  border-radius: 0.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  ::ng-deep a#ngb-tab-0.nav-link.active {
    color: white;
    background-color: hsla(162, 59%, 28%, 0.6);
    border: none;
    border-radius: 0.5rem;
  }

  ::ng-deep a#ngb-tab-1.nav-link.active {
    color: white;
    background-color: hsla(162, 59%, 28%, 0.6);
    border: none;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  ::ng-deep a#ngb-tab-0.nav-link.active {
    color: white;
    background-color: hsla(162, 59%, 28%, 0.6);
    border: none;
    border-radius: 0.5rem;
  }

  ::ng-deep a#ngb-tab-1.nav-link.active {
    color: white;
    background-color: hsla(162, 59%, 28%, 0.6);
    border: none;
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  ::ng-deep a#ngb-tab-0.nav-link.active {
    color: white;
    background-color: hsla(162, 59%, 28%, 0.6);
    border: none;
    border-radius: 0.5rem;
  }

  ::ng-deep a#ngb-tab-1.nav-link.active {
    color: white;
    background-color: hsla(162, 59%, 28%, 0.6);
    border: none;
    border-radius: 0.5rem;
  }
}
