<ngb-tabset class="register-form">
  <div class="customTab">
    <ngb-tab title="SIGN UP" class="btn-log">
      <ng-template ngbTabContent>
        <form [formGroup]="registerForm" class="log-form">
          <div class="form-group d-flex flex-column">
            <input [class.is-valid]="this.registerForm.controls['username'].valid" class="form-control" formControlName="username" matInput
              type="text" placeholder="username" required [class.is-invalid]="this.registerForm.controls['username'].errors?.minlength"
              class="form-control" id="validationServerUsername" />
            <span class="validation-messages" *ngIf="registerForm.controls['username'].errors?.minlength">username
              should be at least 6 symbols</span>

          </div>
          <div class="form-group d-flex flex-column">
            <input [class.is-valid]="!!this.registerForm.controls['email'].valid" class="form-control" formControlName="email" matInput
              type="text" placeholder="email@address.com" [class.is-invalid]="!!registerForm.controls['email'].errors?.email"
              class="form-control" />
            <span class="validation-messages" *ngIf="!!registerForm.controls['email'].errors?.email">enter a valid email
              address</span>
          </div>
          <div class="form-group d-flex flex-column">
            <input [class.is-valid]="this.registerForm.controls['password'].valid" class="form-control" formControlName="password" matInput
              type="password" placeholder="**********" [class.is-invalid]="registerForm.controls['password'].errors?.minlength"
              class="form-control" />
            <span class="validation-messages" *ngIf="!!registerForm.controls['password']?.errors?.minlength">password
              should be at least 8 symbols</span>
          </div>
          <div class="form-group">
            <button [disabled]="!registerForm.valid" (click)="register()" type="submit" class="btn btn-log align-self-center">SIGN
              UP</button>
          </div>
        </form>
      </ng-template>
    </ngb-tab>

    <div class="login-form">
      <ngb-tab title="SIGN IN">
        <ng-template ngbTabContent>
          <form [formGroup]="loginForm" class="log-form">
            <div class="form-group d-flex flex-column">
              <input [class.is-valid]="this.loginForm.controls['username'].valid" class="form-control" formControlName="username" matInput
                type="text" placeholder="username" required [class.is-invalid]="this.loginForm.controls['username'].errors?.minlength"
                class="form-control" id="validationServerUsername" />
            </div>

            <div class="form-group d-flex flex-column">
              <input [class.is-valid]="!!this.loginForm.controls['password'].valid" class="form-control" formControlName="password" matInput
                type="password" placeholder="**********" [class.is-invalid]="this.loginForm.controls['password'].errors?.minlength"
                class="form-control" />
            </div>

            <div class="form-group">
              <button [disabled]="!loginForm.valid" (click)="login()" type="submit" class="btn btn-log">SIGN
                IN</button>

            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </div>
  </div>
</ngb-tabset>
