.not-found-container {
  min-height: 100vh;
  color: black;
  background-color: rgba(31, 7, 7, 0.596);
}

#background-photo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -999;
  opacity: 0.8;
  filter: blur(6px);
}

.image-section img {
  width: 100%;
}

.not-found-info-p-1 {
  font-size: 25px;
}

.not-found-info-p-2 {
  font-size: 18px;
}

.button-navigation-main-page {
  margin: 0% 25%;
  padding: 3% 0%;
  background: none;
  background-color: rgb(230, 96, 102);
  border-radius: 3px;
  border: none;
  color: white;
}

.button-navigation-main-page button:active {
  background-color: rgb(172, 74, 79);
}
