<div style="background-color: white;" class="not-found-container row d-flex align-items-center justify-content-center">
  <div class="image-section offset-2 col-4 text-center">
    <img src="https://assets-ouch.icons8.com/preview/52/3fc4ea7b-1a78-4215-be4d-e613c321ae15.png" />
  </div>
  <div class="col-4 col-md-offset-right-2 not-found-info text-center d-flex flex-column justify-content-between">
    <h1 class="mb-4">Page not found</h1>
    <div>
      <p class="not-found-info-p-1">Sorry, we couldn't find the page you were looking for.</p>
      <p class="not-found-info-p-2">We suggest that you can return to main sections.</p>
    </div>
    <button class="button-navigation-main-page mt-4" (click)="this.redirectToDashboard()">Go back to main page</button>
  </div>
</div>
