.loan-container {
  color: black;
  border: 1px solid black;
  padding: 1rem;
}

.loan-info {
  list-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(26, 71, 58);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 218, 145);
  border: 1px dotted rgb(247, 164, 0);
  margin-top: 0.5rem;
}

.loan-info li span {
  font-weight: 700;
}

.loan-info li {
  border-left: 1px solid rgb(247, 164, 0);
  font-size: 90%;
  align-self: center;
  padding: 0.1rem;
}

.first-child {
  border-left: none !important;
}

input {
  width: 50%;
  height: 100px;
}

.btn-pay {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(252, 154, 74);
  color: white;
}

.btn-problem {
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(167, 0, 9, 0.859);
  color: white;
}

.overdue {
  border: 2px solid rgba(167, 0, 9, 0.859);
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .loan-info {
    font-size: 100%;
  }

  .loan-info li {
    font-size: 70%;
  }

  .btn-pay,
  .btn-problem {
    font-size: 60%;
  }

  .loans-container div {
    padding-right: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .loan-info {
    font-size: 100%;
  }

  .loan-info li {
    font-size: 70%;
  }

  .btn-pay,
  .btn-problem {
    font-size: 60%;
  }

  .loans-container div {
    padding-right: 0;
  }
}
