 <div class="container loans-container">
   <div class="row">
     <ul [appHighlight]="this.highlightColor" [appOverDueBorder]="!!this.calculatedLoan.overdueDays" title="see details"
       class="col-9 debt-info text-center mb-1 d-flex justify-content-center loan-info" (click)="this.openLoanDetailsModal()">
       <li [appFadeInAnimation]="true" class="col-4 first-child"><span>Left
           amount:<br></span>{{ this.calculatedLoan.leftAmount | currency:'GBP' }}</li>
       <li class="col-4"><span>Monthly:<br></span>{{ this.calculatedLoan.monthlyInstallment | currency:'GBP' }}</li>
       <li [appFadeInAnimation]="true" class="col-4"><span>Next Due Date:<br></span>{{ this.calculatedLoan.nextDueDate }}
       </li>
     </ul>
     <div class="col-3 align-self-center">
       <button (click)="this.makePayment()" class="btn-pay p-2 mb-1 col-12">Pay</button>
       <button (click)="this.openReportProblemModal()" class="btn-problem p-2 col-12">Report</button>
     </div>
   </div>
 </div>
