<button class="trash-button float-right h-75" (click)="this.deleteSelectedDebt()">
  <fa-icon [icon]="faTrash">delete</fa-icon>
</button>
<div class="container debts-container">
  <ul [appHighlight]='this.highlightColor' class="row debt-info text-center mb-2 mr-0 ml-0 mt-0 d-flex justify-content-center debt-info"
    (click)="this.openModalWithComponent()">
    <li class="col-3 first-child">{{ this.debt.amount |currency:'GBP':'symbol' }}</li>
    <li class="col-3">{{ this.debt.period }} months</li>
    <li class="col-3">{{ this.debt.status }}</li>
    <li class="col-3" *ngIf="this.isDebtPartial">Remaining: {{ this.remainingAmount | currency: 'GBP' }}</li>
    <li class="col-3" *ngIf="!this.isDebtPartial">Not Partial</li>
  </ul>
</div>
