.debt-info {
  list-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(26, 71, 58);
  border: 1px dotted rgba(26, 71, 58, 0.5);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(187, 204, 199);
  margin-top: 0.5rem;
}

.debt-info li {
  border-left: 1px solid rgba(26, 71, 58, 0.5);
  font-size: 90%;
  align-self: center;
  padding: 0.1rem;
}

.first-child {
  border-left: none !important;
}

.trash-button {
  border: none;
  background: none;
}

.trash-button fa-icon {
  color: rgba(26, 71, 58);
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .debt-info {
    font-size: 100%;
  }

  .debt-info li {
    font-size: 70%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .debt-info {
    font-size: 100%;
  }

  .debt-info li {
    font-size: 70%;
  }
}
