.input-group {
  border-radius: 0.5rem;
}

.input-group input {
  background-color: rgba(0, 147, 230, 0.188);
}

.currency-symbol {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: rgba(0, 105, 165, 0.522);
}

.money-suffix {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgba(0, 105, 165, 0.522);
}

.btn-withdraw {
  min-height: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 128, 201);
  color: white;
}

.errors {
  text-align: end;
  color: rgb(126, 0, 0);
  display: block;
}
