<div class="container debts-container" (click)="this.openDebtProposalModal()">
  <ul [appHighlight]="this.highlightColor" class="row debt-info text-center mb-1 d-flex justify-content-center debt-info">
    <li class="col-3 first-child">{{ this.debt.user.username }}</li>
    <li class="col-3">{{ this.debt.amount |currency:'GBP':'symbol' }}</li>
    <li class="col-3">{{ this.debt.period | i18nPlural: this.itemPluralMapping.monthsForLoan }}</li>
    <li class="col-3">{{ this.debtRemainingAmount | currency: 'GBP' }}</li>
  </ul>
</div>
