<div class="offset-1 col-3 align-self-center d-flex flex-column align-items-center">
  <h6>current balance</h6>
  <h1>{{this.loggedUserBalance | currency:'GBP'}}</h1>
  <div class="buttons-container">
    <button class="btn-deposit col-6 col-xs-12 mr-1" (click)="this.openModalForDeposit()">Deposit</button>
    <button class="btn-withdraw pr-4 col-xs-12 col-6" (click)="this.openModalForWithdrawal()">Withdraw</button>
  </div>
</div>
<img class="offset-1 col-6 align-self-end" src="https://i.ibb.co/16LSx7d/balance.png" alt="" style="height: auto; width: 100%">
