.balance-view-container {
  border: 1px solid black;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn-deposit {
  min-height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #256955;
  color: white;
}

.btn-withdraw {
  min-height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(0, 128, 201);
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  h1 {
    font-size: 1.3rem;
  }

  h6 {
    margin-top: 0.5rem;
  }
  .buttons-container {
    flex-direction: column;
  }

  .buttons-container button {
    min-width: 100%;
    margin: 0.2rem 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
  }

  .buttons-container button {
    margin-top: 0.2rem;
    min-width: 100%;
  }
}
