<nav [class.nav-response]="this.isCollapsed" class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo mr-3" src="https://i.ibb.co/DM37byz/final-logo.png" alt="logo" border="0">
  <button class="navbar-toggler" type="button" (click)="this.isCollapsed = !this.isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse nav-buttons" id="navbarColor03">
    <ul class="navbar-nav mr-auto bg-white" *ngIf="!this.admin && this.user">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/borrower']">Borrower</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/investor']">Investor</a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="this.admin && this.user">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']">Users list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['admin/create-admin']">Create Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['admin/pending-problems']">Reported Problems</a>
      </li>
    </ul>
    <button type="button" (click)="this.logOut()" class="btn btn-logout rounded-sm">LOG OUT</button>
  </div>
</nav>
