.logo {
  height: 70px;
}

.navbar {
  padding: 0 1rem;
}

.btn-logout {
  color: white;
  background-color: hsl(162, 47%, 28%);
}

.btn-logout:hover {
  background-color: hsl(162, 44%, 40%);
}
.nav-buttons {
  justify-content: space-between;
}
@media (max-width: 992px) {
  .nav-response {
    height: 250px !important;
    transition: all 0.3s ease-out !important;
  }
  .navbar {
    display: flex;
    height: 75px;
    overflow: hidden;
    transition: all 0.3s ease-out;
  }
}
