<div bsModal #lgModal="bs-modal" class="modal-header">
  <h4 class="modal-title pull-left">PROBLEM DETAILS</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="problemDetailsModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pl-4 pr-4">
  <div class="problem-details">
    <div>
      <h5 class="mb-3">Reporter: {{this.problem.user.username}}</h5>
      <p class="mb-1 font-weight-bold">Problem description</p>
      <p class="mt-0 problem-description">{{ this.problem.description }}</p>
    </div>
    <div>
      <h5 class="mb-3">Reported: {{ this.problem.loan.investment.user.username }}
        <br> as investor</h5>
      <p class="mb-1 font-weight-bold">Loan</p>
      <ul class="loan-details">
        <li><span>date of the deal: </span>{{ this.problem.loan.createdOn | date: 'longDate' }}</li>
        <li><span>amount: </span>{{ this.problem.loan.overallAmount | currency: 'GBP' }}</li>
        <li><span>period: </span>{{ this.problem.loan.investment.period | i18nPlural: itemPluralMapping.monthsForLoan }}</li>
        <li><span>monthly: </span>{{ this.problem.loan.monthlyInstallment | currency: 'GBP' }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="modal-footer mt-2">
  <button type="button" class="btn btn-default" (click)="problemDetailsModal.hide()">Close</button>
</div>
