.problem-details {
  background-color: #ffda91;
  border-radius: 0.5rem;
  padding: 1rem;
}

.problem-details div {
  border: 1px solid #ffeecd;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 1px #e6b44d;
}

.problem-details span {
  font-weight: 700;
}

.problem-description {
  background-color: #fde6b8;
  border-radius: 0.5rem;
  min-height: 7rem;
  padding: 1rem;
}

.loan-details {
  list-style: none;
  padding: 0;
  line-height: 1.6rem;
}

.loan-details li {
  border-bottom: 1px solid #fde6b8;
}
