.hidden {
  visibility: hidden;
}

.loader-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  z-index: 9999;
}

.circle {
  position: absolute;
  top: calc(50% - 54px);
  left: calc(50% - 54px);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  border-bottom: 4px solid rgb(252, 185, 192, 0.5);
  border-top: 4px solid rgb(0, 128, 201, 0.5);
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
.circle:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 4px solid transparent;
  border-bottom: 4px solid rgb(252, 155, 76, 0.5);
  border-top: 4px solid rgb(35, 106, 85, 0.5);
  border-radius: 50%;
  animation: animate 2s linear infinite;
}
.circle:after {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  border: 4px solid transparent;
  border-bottom: 4px solid rgb(255, 218, 143, 0.5);
  border-top: 4px solid rgb(255, 103, 173, 0.5);
  border-radius: 50%;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
