.investment-details {
  list-style: none;
  font-size: 1rem;
  line-height: 2.5rem;
  padding: 0;
}

.investment-details li {
  background-color: rgb(187, 204, 199);
  border-radius: 0.5rem;
  padding-left: 0.1rem;
}

.investment-details span {
  font-weight: 700;
}

.buttons {
  text-align: center;
  padding-bottom: 0.2rem;
}

.buttons button {
  height: inherit;
  width: 40%;
  border: 1px solid white;
  border-radius: 0.5rem;
  background: inherit;
}

.buttons button:hover {
  background-color: white;
}
