<div class="modal-header">
  <h4 class="modal-title pull-left">PENDING INVESTMENTS</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body row justify-content-center" *ngIf="this.investmentsExist()">
  <div *ngFor="let investment of this.pendingInvestments" class="col-sm-12 col-md-6">
    <ul class="investment-details text-center">
      <li><span>investor: </span>{{ this.investment.user.username }}</li>
      <li><span>amount: </span>{{ this.investment.amount | currency:'GBP':'symbol' }}</li>
      <li><span>period: </span>{{ this.investment.period }} months</li>
      <li><span>annual interest: </span>{{ this.investment.interest }} %</li>
      <li><span>penalty interest: </span>{{ this.investment.overdueInterest }} %</li>
      <li class="buttons">
        <button class="mr-1" (click)="this.acceptInvestment(investment.id)">Accept</button>
        <button class="" (click)="this.declineInvestment(investment.id)">Decline</button></li>
    </ul>
  </div>
</div>
<div *ngIf="!this.investmentsExist()" class="p-4">
  <p>No investments available for this debt</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
