<app-navbar *ngIf="this.show" (logout)="this.triggerLogout()"></app-navbar>
<div [class.container]="this.show">
  <div [class.row]="this.show">
    <div [class.col-sm-12]="this.show" [class.col-md-9]="this.show">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="this.show" class="col-sm-8 col-md-3 p-0">
      <app-user-summary></app-user-summary>
    </div>
  </div>
</div>
<app-custom-spinner></app-custom-spinner>
