<div class="borrower-view-container">
  <app-create-debt-request (create)="this.createDebt($event)"></app-create-debt-request>
  <h1 class="pt-3">Debts</h1>
  <p class="exeption-paragraph" *ngIf="!this.debts.length">You do not have any debts at the moment.</p>
  <div class="container">
    <div [class.debts-container]="this.debts.length" class="row pr-0 pl-0">
      <app-debt-view class="col-12" *ngFor="let debt of this.debts" [debt]="this.debt" (acceptInvestment)="this.createLoan($event)"
        (declineInvestment)="this.declineInvestment($event)" (deleteDebt)="this.deleteDebt($event)">
      </app-debt-view>
    </div>
  </div>
  <h1 class="pt-3">Loans</h1>
  <p class="exeption-paragraph" *ngIf="!this.loans.length">You do not have any loans at the moment.</p>
  <div class="container">
    <div class="row" [class.loans-container]="this.loans.length">
      <app-loan-view *ngFor="let loan of this.loans" [loan]="this.loan" [triggerAnimation]="this.triggerAnimation"
        (reportProblem)="this.reportProblem($event)" class="col-12" (payMonthlyInstallment)="this.makePayment($event)"></app-loan-view>
    </div>
  </div>
</div>
