.exeption-paragraph {
  font-size: 1.5rem;
}
.debts-container {
  padding: 1rem;
  border: 1px solid rgba(26, 71, 58, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(38, 105, 85, 0.1);
  border-radius: 0.5rem;
  max-height: 55vh;
  overflow: scroll;
}

.loans-container {
  padding: 1rem;
  border: 1px solid rgb(247, 164, 0, 0.5);
  box-shadow: 0px 1px 3px 1px rgb(247, 164, 0, 0.2);
  border-radius: 0.5rem;
}
