.pending-problems-container {
  padding: 1rem 4rem;
  border: 1px solid rgb(247, 164, 0, 0.5);
  box-shadow: 0px 1px 3px 1px rgb(247, 164, 0, 0.2);
  border-radius: 0.5rem;
}

.pending-problems-details {
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(26, 71, 58);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 218, 145);
  border: 1px dotted rgb(247, 164, 0);
  margin-top: 0.5rem;
}
