<div class="container mt-4">
  <h1>REPORTED PROBLEMS</h1>
  <div class="pending-problems-container">
    <div [appHighlight]="this.highlightColor" *ngFor="let problem of this.problems" (click)="this.openProblemDetailsModal(this.problem)"
      class="row pending-problems-details m-0">
      <div class="offset-1 col-5 mb-0">
        <span>problem </span>
        <span>#{{ this.problem.id }}</span>
      </div>
      <div class="offset-1 col-5 mb-0">
        <span>raised from </span>
        <span class="font-weight-bold">{{ this.problem.user.username }}</span>
      </div>
    </div>
  </div>
</div>
