<div class="modal-header">
  <h4 class="modal-title pull-left">DEPOSIT MONEY</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="this.depositMoneyForm" class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text currency-symbol">£</span>
    </div>
    <input formControlName="amount" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
      <span class="input-group-text money-suffix">.00</span>
    </div>
  </form>
  <span class="errors" *ngIf="this.depositMoneyForm.controls['amount'].errors?.min">You cannot deposit negative amount!</span>
  <button class="btn btn-submit mt-2" [disabled]="this.depositMoneyForm.invalid" (click)="this.depositMoney()">SUBMIT</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
