<div class="container investments-container" (click)="this.toggleDetails()">
  <div class="row">
    <ul [appHighlight]="this.highlightColor" [class.border-none]="!this.isCollapsed" [appOverDueBorder]="this.checkIfLoanIsOverDue()"
      title="see details" class="col-12 debt-info text-center mt-2 d-flex justify-content-center investment-info">
      <li class="col-3 first-child">{{ this.investment.debt.user.username }}</li>
      <li class="col-3">{{ this.investment.amount | currency: "GBP" }}</li>
      <li class="col-3">{{ this.investment.period | i18nPlural: this.itemPluralMapping.monthsForInvestment }} </li>
      <li class="col-3">{{ this.investment.interest / 100 | percent }}</li>
    </ul>
  </div>

  <!-- collapse -->
  <div [class.collapse]="this.isCollapsed">
    <div class="investment-loan-details p-4">
      <div *ngIf="this.investment.status !== 0" class="d-flex row justify-content-center">
        <ul class="offset-1 col-5">
          <li><span>Total Amount:</span>{{ this.calculatedLoan.overallAmount | currency:'GBP' }}</li>
          <li><span>Monthly: </span>{{ this.calculatedLoan.monthlyInstallment | currency:'GBP' }}</li>
          <li><span>Interest: </span>{{ this.calculatedLoan.interest / 100 | percent }}</li>
          <li><span>Next Due Date: </span>{{ this.calculatedLoan.nextDueDate | date: 'longDate'}}</li>
        </ul>
        <ul class="offset-1 col-5">
          <li><span>Left to pay: </span>{{ this.calculatedLoan.leftAmount | currency:'GBP' }}</li>
          <li><span>Overdue days: </span>{{ this.calculatedLoan.overdueDays}} days</li>
          <li><span>Penalty Interest: </span>{{ this.calculatedLoan.penaltyInterest / 100 | percent }}</li>
          <li><span>Penalty amount: </span>{{ calculatedLoan.penaltyAmount | currency:'GBP' }}</li>
        </ul>
      </div>
      <div *ngIf="this.investment.status === 0" class="row text-center">
        <p class="col-12">Investment is still pending.</p>
      </div>
    </div>

  </div>
</div>
