.investment-info {
  list-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(26, 71, 58);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 218, 145);
  border: 1px dotted rgb(247, 164, 0);
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.investment-info li {
  border-left: 1px solid rgb(247, 164, 0);
  font-size: 90%;
  align-self: center;
  padding: 0.1rem;
}

.first-child {
  border-left: none !important;
}

.investment-loan-details {
  background: rgb(255, 242, 215);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.investment-loan-details ul {
  list-style: none;
  line-height: 1.8rem;
}

.investment-loan-details span {
  font-weight: 700;
}

.border-none {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .investment-info {
    font-size: 100%;
  }

  .investment-info li {
    font-size: 70%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .investment-info {
    font-size: 100%;
  }

  .investment-info li {
    font-size: 70%;
  }
}
