.login-page-container {
  height: 100vh;
}

.page-description {
  padding-left: 2.2rem;
}

.page-description h1,
h4 {
  color: white;
}

#background-photo {
  position: absolute;
  width: auto;
  height: 100vh;
  z-index: -999;
}

.mt-7 {
  margin-top: 7.5rem;
}

.mt-6 {
  margin-top: 6.5rem;
}

.form-header {
  color: hsl(161, 47%, 19%);
  font-weight: 900;
  font-size: 2.5rem;
}

/* Smartphones */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .page-description {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 1rem;
  }

  .form-header {
    margin-top: 1rem;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }

  #background-photo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .mt-7 {
    margin-top: 4rem;
  }

  .mt-6 {
    margin-top: 3rem;
  }
}

/* large phones and tablets */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .page-description h4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 1rem;
  }

  .page-description h1 {
    display: none;
  }

  .form-header {
    margin-top: 1rem;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }

  #background-photo {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
  }

  .mt-7 {
    margin-top: 4rem;
  }

  .mt-6 {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-description h4 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 1rem;
  }

  .page-description h1 {
    display: none;
  }

  .form-header {
    margin-top: 1rem;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }

  #background-photo {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
  }

  .mt-7 {
    margin-top: 4rem;
  }

  .mt-6 {
    margin-top: 3rem;
  }
}
