<img src="https://i.ibb.co/ZdwgqYy/peers-no-bg.png" id="background-photo" alt="" />
<div class="container-fluid login-page-container">
  <div class="row h-100 text-center">
    <div class="col-sm-12 col-md-12 offset-lg-1 col-lg-5 align-self-center page-description mt-7">
      <h1>Make your money grow</h1>
      <h4><img src="https://i.ibb.co/DM37byz/final-logo.png" alt="" height="60px">peer to peer lending platform</h4>
    </div>
    <div class="col-sm-12 col-md-12 offset-lg-2 col-lg-3 offset-lg-right-1 mt-6">
      <h1 class="mb-lg-5 form-header">Start now</h1>
      <app-sign-up-sign-in></app-sign-up-sign-in>
    </div>
  </div>
