.dashboard-view-container {
  height: 100%;
}

.user-info {
  height: 50%;
}

.user-info ul {
  list-style: none;
  line-height: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(26, 71, 58);
}

.borrower-info {
  border: 1px solid rgba(26, 71, 58, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(38, 105, 85, 0.1);
}

.investor-info {
  border: 1px solid rgb(247, 164, 0, 0.5);
  box-shadow: 0px 1px 3px 1px rgb(247, 164, 0, 0.2);
}

.user-info h5 {
  color: rgba(26, 71, 58);
  padding-bottom: 0.5rem;
  font-weight: 700;
  border-bottom: 1px solid rgba(26, 71, 58, 0.5);
}

.borrower-info li {
  border: 1px dotted rgba(26, 71, 58, 0.5);
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: rgb(187, 204, 199);
  margin-top: 0.5rem;
}

.investor-info li {
  background-color: rgb(255, 218, 145);
  border: 1px dotted rgb(247, 164, 0);
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
