<div class="dashboard-view-container container text-center">
  <div class="row">
    <app-balance-view class="col-12 d-flex justify-content-around mb-md-3 mt-md-2 " (deposit)="this.depositToBalance($event)"
      (withdraw)="this.withdrawFromBalance($event)"></app-balance-view>
  </div>
  <div class="row mt-md-5">
    <div *ngIf="this.borrowerUserInfo" class="user-info col-sm-12 col-md-6">
      <ul class="borrower-info">
        <h2 class="mb-4">Borrower data</h2>
        <li>
          <h5>Longest loan</h5>{{ this.borrowerUserInfo.totalPeriodOfLoans | i18nPlural: this.itemPluralMapping.monthsForLoan }}
        </li>
        <li>
          <h5>Your investors:</h5>{{this.borrowerUserInfo.investorsCount | i18nPlural: this.itemPluralMapping.investors}}
        </li>
        <li [appOverDueBorder]="this.overdueBorrowerShow">
          <h5>Next due date:</h5>{{ this.borrowerUserInfo.nextDueDate | i18nPlural: this.itemPluralMapping.nextDueDate }}
        </li>
        <li>
          <h5>Next installment:</h5>
          {{ this.borrowerUserInfo.nextInstallment | currency:'GBP' | i18nPlural: this.itemPluralMapping.nextInstallment }}
        </li>
      </ul>
    </div>

    <div *ngIf="this.investorUserInfo" class="user-info col-sm-12 col-md-6">
      <ul class="investor-info">
        <h2 class="mb-4">Investor data</h2>
        <li>
          <h5>Longest investment</h5>
          {{ this.investorUserInfo.totalPeriodOfInvestments | i18nPlural: this.itemPluralMapping.monthsForInvestment }}
        </li>
        <li>
          <h5>Your borrowers:</h5>{{ this.investorUserInfo.borrowersCount | i18nPlural: this.itemPluralMapping.borrowers}}
        </li>
        <li [appOverDueBorder]="this.overdueInvestorShow">
          <h5>Next due date:</h5>{{ this.investorUserInfo.nextDueDate | i18nPlural: this.itemPluralMapping.nextDueDate }}
        </li>
        <li>
          <h5>Next installment:</h5>
          {{ this.investorUserInfo.nextInstallmentToBePayedToTheInvestor | currency:'GBP' | i18nPlural: this.itemPluralMapping.nextInstallment }}
        </li>
      </ul>
    </div>
  </div>
</div>
