.modal-body {
  padding: 1rem;
}

.modal-body textarea {
  width: 100%;
  min-height: 10rem;
  border: 1px solid rgb(247, 164, 0, 0.5);
  box-shadow: 0px 1px 3px 1px rgba(247, 164, 0, 0.2);
  border-radius: 0.5rem;
}

.modal-body span {
  color: rgb(116, 2, 2);
}

.btn-problem {
  float: right;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(167, 0, 9, 0.859);
  color: white;
  width: 25%;
  height: 2.2rem;
}
