<div class="modal-header">
  <h4 class="modal-title pull-left">REPORT A PROBLEM</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="this.loanProblemModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body mb-4">
  <form [formGroup]="this.reportProblemForm" class="">
    <h5>Description</h5>
    <textarea formControlName="description" type="text"></textarea>
    <span *ngIf="this.reportProblemForm.controls['description'].errors?.minlength">
      Description should be at least 10 characters long
    </span>
  </form>
  <div>
    <button class="btn-problem" (click)="this.reportProblem()">Report</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="this.loanProblemModal.hide()">Close</button>
</div>
