.user-summary-info {
  color: white;
  width: 100%;
  height: 100%;
}

img {
  position: absolute;
  z-index: -999;
  width: 100%;
}

.user-summary-info ul {
  font-size: 15px;
  line-height: 2em;
  padding: 0.7rem;
  list-style: none;
}

.user-summary-info ul span {
  font-weight: 700;
}

.username-role {
  color: white;
  text-shadow: -1px -1px -1px rgb(77, 122, 116), 1px 1px 1px rgb(77, 122, 116), 1px 1px 0px rgb(77, 122, 116);
}

.lines-container {
  background-image: url('https://i.ibb.co/xYYJ12K/lines.png');
  background-size: 95%;
  background-repeat: repeat-y;
  height: 100vh;
  position: relative;
  z-index: -999999;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .user-summary-info ul {
    margin-top: 3rem;
  }

  .lines-container {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .user-summary-info ul {
    margin-top: 3rem;
  }

  .lines-container {
    display: none;
  }
}
