<div class="user-summary-container">
  <img src="https://i.ibb.co/8Yny88C/wallet-coins-illustration-cropped-istock-cnythzl.png" alt="">
  <div class="user-summary-info mt-1 d-flex align-items-center">
    <ul *ngIf="this.loggedUser" class="mt-sm-5 mt-md-2">
      <li [class.mt-2]="this.verifyUserRole()">
        <h3 class="username-role">{{ this.loggedUser.username }}</h3>
      </li>
      <li *ngIf="!this.verifyUserRole()"><span>current balance: </span>{{ this.loggedUser.currentBalance | currency: 'GBP' }} </li>
      <li *ngIf="!this.verifyUserRole()"><span>invested money: </span>{{ this.loggedUser.totalInvestedAmount | currency: 'GBP' }}</li>
      <li *ngIf="!this.verifyUserRole()"><span>owed money: </span>{{ this.loggedUser.totalDebtAmount | currency: 'GBP' }}</li>
      <li *ngIf="!this.verifyUserRole() && this.loggedUser.nextDueDate"><span>next due date: </span>{{ this.loggedUser.nextDueDate }}</li>
      <li *ngIf="!this.verifyUserRole() && !this.loggedUser.nextDueDate"><span>next due date: </span>currently none</li>
      <li *ngIf="this.verifyUserRole()">
        <h4 class="username-role">Admin</h4>
      </li>
    </ul>
  </div>
  <div class="lines-container"></div>
</div>
