.users-list-container {
  padding: 1rem;
  border: 1px solid rgb(247, 164, 0, 0.5);
  box-shadow: 0px 1px 3px 1px rgb(247, 164, 0, 0.2);
  border-radius: 0.5rem;
}

.user-info {
  list-style: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: rgba(26, 71, 58);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 218, 145);
  border: 1px dotted rgb(247, 164, 0);
  margin-top: 0.5rem;
}

.input-ban-days {
  width: 50%;
  border-radius: 10rem;
  padding: 0;
  padding-left: 1rem;
  background-color: #ffefce;
}

ul {
  list-style: none;
  padding: 0;
}

.offset-md-right-2 {
  margin-right: 16.66666667%;
}

.ban-button {
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(252, 154, 74);
  color: white;
  width: 5rem;
  height: 2.3rem;
}

.delete-button {
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(167, 0, 9, 0.859);
  color: white;
  width: 5rem;
  height: 2.3rem;
}
