<div class="users-list-container col-12 pl-5 pr-5" *ngIf="this.users">

  <ul *ngFor="let user of this.users" class="row debt-info text-center mb-1 d-flex align-items-center user-info">
    <li class="col-3 first-child">{{user.username}}</li>
    <li class="col-3 d-flex align-items-center pr-0">
      <input *ngIf="!user.isBanned" type="number" class="input-ban-days form-control mr-2" id="ban-days"
        (input)="this.days = $event.target.value" id="exampleFormControlSelect1">
      <label *ngIf="!user.isBanned" for="number" class="m-0">days</label>
    </li>
    <li class="col-1 offset-md-right-2 pl-0">
      <button *ngIf="!user.isBanned" class="ban-button" (click)="this.banUser(user.id)">ban</button>
      <button class="ban-button" *ngIf="user.isBanned" (click)="this.unBanUser(user.id)">unban</button>
    </li>
    <li class="col-3"><button class="delete-button" (click)="this.deleteUser(user.id)">delete</button></li>
  </ul>
</div>
