body {
  display: inline-block;
  background: #00aff9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;
}

h1 {
  margin: 0.8em 3rem;
  font: 4em Roboto;
}

p {
  display: inline-block;
  margin: 0.2em 3rem;
  font: 2em Roboto;
}
