<div class="investor-view-container">
  <h1 class="pt-3">Debt Requests</h1>
  <div [class.debts-container]="this.debts.length">
    <p class="exeption-paragraph" *ngIf="!this.debts.length">You currently do not have any investments.</p>
    <div *ngIf="this.debts.length">
      <ul class="row info-columns text-center mb-1 d-flex justify-content-center">
        <li class="col-3">username</li>
        <li class="col-3">amount</li>
        <li class="col-3">period</li>
        <li class="col-3">remaning amount</li>
      </ul>
    </div>
    <app-pending-debts *ngFor="let debt of this.debts" [debt]="this.debt" (create)="this.createProposal($event, this.debt.id)">
    </app-pending-debts>
  </div>

  <h1 class="pt-5">Investments</h1>
  <div [class.investments-container]="this.investments.length">
    <p class="exeption-paragraph" *ngIf="!this.investments.length">You currently do not have any investments.</p>
    <div *ngIf="this.investments.length">
      <ul class="row info-columns text-center mb-1 d-flex justify-content-center">
        <li class="col-3">borrower</li>
        <li class="col-3">amount</li>
        <li class="col-3">period</li>
        <li class="col-3">interest</li>
      </ul>
    </div>
    <app-investor-view [isCollapsed]="this.isCollapsed" *ngFor="let investment of this.investments" [investment]="this.investment">
    </app-investor-view>
  </div>
</div>
