<div class="main-container">

  <h1 class="mt-4">CREATE ADMIN</h1>
  <form [formGroup]="registerForm" class="log-form">
    <div class="form-group d-flex flex-column">
      <input [class.is-valid]="this.registerForm.controls['username'].valid" class="form-control" formControlName="username" matInput
        type="text" placeholder="username" required [class.is-invalid]="this.registerForm.controls['username'].errors?.minlength"
        class="form-control" id="validationServerUsername" />
      <span class="validation-messages" *ngIf="registerForm.controls['username'].errors?.minlength">username
        should be at least 6 symbols</span>
    </div>
    <div class="form-group d-flex flex-column">
      <input [class.is-valid]="!!this.registerForm.controls['email'].valid" class="form-control" formControlName="email" matInput
        type="text" placeholder="email@address.com" [class.is-invalid]="!!registerForm.controls['email'].errors?.email"
        class="form-control" />
      <span class="validation-messages" *ngIf="!!registerForm.controls['email'].errors?.email">enter a valid email
        address</span>
    </div>
    <div class="form-group d-flex flex-column">
      <input [class.is-valid]="this.registerForm.controls['password'].valid" class="form-control" formControlName="password" matInput
        type="password" placeholder="**********" [class.is-invalid]="registerForm.controls['password'].errors?.minlength"
        class="form-control" />
      <span class="validation-messages" *ngIf="!!registerForm.controls['password']?.errors?.minlength">password
        should be at least 8 symbols</span>
    </div>
    <div class="form-group">
      <button [disabled]="!registerForm.valid" type="submit" class="btn btn-log align-self-center"
        (click)="this.createAdmin()">CREATE</button>
    </div>
  </form>
  <div class="mt-5">
    <h1>Current Admins</h1>
    <div class="container">
      <div class="row admin-container">
        <div class="col-6" *ngFor="let admin of this.admins">
          <div class="col admin-details">
            <h5>Username</h5>
            <span>{{admin.username}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
