<div class="container text-center mt-2 mb-2">
  <form [formGroup]="this.createDebtForm" class="row create-debt-container h-100">
    <div class="col-sm-12 col-md-5">
      <h4>Amount: {{ this.createDebtForm.value.amount | currency: 'GBP' }}</h4>
      <mv-slider [(value)]="this.createDebtForm.value.amount" [min]="1" [max]="7000" class="col-12"></mv-slider>
      <input [(value)]="this.createDebtForm.value.amount" formControlName="amount" type="number"
        class="w-100 mt-2 input-slider form-control">
      <span class="error-text" *ngIf="this.createDebtForm.controls['amount'].errors?.min">Credit must be at least £100</span>
    </div>
    <div class="col-sm-12 col-md-5">
      <h4>Period: {{ this.createDebtForm.value.period | i18nPlural: this.itemPluralMapping.monthsForLoan }}</h4>
      <mv-slider [(value)]="this.createDebtForm.value.period" [min]="1" [max]="48"></mv-slider>
      <div class="h-100">
        <input formControlName="period" type="number" class="w-100 mt-2 input-slider form-control"
          [(value)]="this.createDebtForm.value.period">
        <span class="error-text" *ngIf="this.createDebtForm.controls['period'].errors?.min">Credit must be at least 1 month long</span>
      </div>
    </div>
    <div class="col-sm-6 col-md-1 checkbox-container custom-control custom-checkbox h-100 p-0 mt-2">
      <input formControlName="isPartial" type="checkbox" class="custom-control-input" id="customCheck1" checked="">
      <label class="custom-control-label" for="customCheck1"></label>
      <p>Allow partial investments</p>
    </div>
    <div class="col-sm-6 col-md-1 add-icon">
      <button (click)="this.createDebt()" [disabled]="this.createDebtForm.invalid">
        <fa-icon [icon]="faPlusCircle" class="fa-icon"></fa-icon>
      </button>
    </div>
  </form>
</div>
