input {
  border: 1px solid black;
}

.create-debt-container {
  height: 2rem;
}

.checkbox-container p {
  font-size: 0.2rem;
  margin-top: 0.6rem;
}

.input-slider {
  border: 1px dotted rgb(25, 71, 58);
  border-radius: 0.5rem;
}

::ng-deep .slider.slider-horizontal .slider-track {
  background: rgba(0, 105, 165, 0.322);
}

::ng-deep .slider-selection {
  background: rgba(0, 105, 165, 0.322);
}

::ng-deep .slider-handle {
  background-color: rgb(0, 128, 201);
  background-image: none;
}

::ng-deep .slider.slider-horizontal {
  width: 96%;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.8rem;
  background: rgb(121, 121, 121);
}

.add-icon button {
  background-color: none;
  border: none;
}

.add-icon button:disabled {
  opacity: 0.4;
}

.add-icon fa-icon {
  font-size: 2.5rem;
  color: rgb(0, 128, 201);
}

.error-text {
  float: right;
  color: rgb(124, 0, 0);
}
