.input-group {
  border-radius: 0.5rem;
}

.input-group input {
  background-color: rgba(63, 148, 123, 0.302);
}

.currency-symbol {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: rgba(44, 142, 114, 0.58);
}

.money-suffix {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgba(44, 142, 114, 0.58);
}

.btn-submit {
  min-height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #256955;
  color: white;
  float: right;
}

.errors {
  text-align: end;
  color: rgb(126, 0, 0);
}
