<div class="modal-header">
  <h4 class="modal-title pull-left">MAKE INVESTMENT</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="debtProposalModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="this.createProposalForm" class="input-group mb-3 d-flex flex-column">
    <p class="mb-1 mt-2">Amount</p>
    <div class="d-flex">
      <div class="input-group-prepend">
        <span class="input-group-text currency-symbol">£</span>
      </div>
      <input formControlName="amount" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text money-suffix">.00</span>
      </div>
    </div>
    <span class="errors" *ngIf="this.createProposalForm.controls['amount'].errors?.min">The amount should be at least £100</span>
    <span class="errors" *ngIf="this.createProposalForm.controls['amount'].errors?.max">The remaning amount is
      {{this.debtRemainingAmount | currency: 'GBP'}}</span>

    <p class="mb-1 mt-2">Period</p>
    <div class="d-flex">
      <input formControlName="period" type="number" class="form-control" aria-label="Period">
      <div class="input-group-append">
        <span class="input-group-text money-suffix">months</span>
      </div>
    </div>
    <span class="errors" *ngIf="this.createProposalForm.controls['period'].errors?.min">The period must be at least 1 month</span>

    <p class="mb-1 mt-2">Interest</p>
    <div class="d-flex">
      <input formControlName="interest" type="number" class="form-control" aria-label="Period">
      <div class="input-group-append">
        <span class="input-group-text money-suffix">%</span>
      </div>
    </div>
    <span class="errors" *ngIf="this.createProposalForm.controls['interest'].errors?.min">Interest cannot be negative</span>

    <p class="mb-1 mt-2">Penalty Interest</p>
    <div class="d-flex">
      <input formControlName="overdueInterest" type="number" class="form-control" aria-label="Period">
      <div class="input-group-append">
        <span class="input-group-text money-suffix">%</span>
      </div>
    </div>
    <span class="errors" *ngIf="this.createProposalForm.controls['overdueInterest'].errors?.min">Penalty interest cannot be negative</span>
  </form>
  <button class="btn btn-submit" (click)="createProposalInvestment()" [disabled]="this.createProposalForm.invalid">SUBMIT</button>
</div>
<div class="modal-footer mt-5">
  <button type="button" class="btn btn-default" (click)="debtProposalModal.hide()">Close</button>
</div>
